@import "../../global.scss";

.button{
    background-color: transparent;
    color: $primary;
    border: 1px solid $primary;

    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 12px;
    &:hover{
        background-color: $primary;
        color: white;
    };
    
}