@import '../../global.scss';



.projects{
    // height: calc(100vh - 76px);
    // width: 100%;
    // position: relative;
    // top: 74px;
    min-height: 200px;
    .wrap{
        min-height: calc(100vh - 76px);
        width: 100%;
        position: relative;
        top: 74px;
    }
    h1{
        text-align: center;
    }
    ul{
        display: flex;
        justify-self: center;
        justify-content: center;
        flex-wrap: wrap;
        // width: 100%;
        li{
            list-style:none;
            margin: 4px;
            padding: 2px 6px;
            width: 80px;
            border: 1px solid $primary;
            border-radius: 12px;
            text-align: center;
            cursor: pointer;
            &.active{
                background-color: $primary;
            }
        }
    }

    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        justify-self: center;
        // align-content: center;
        align-self: center;
    }
}

@media only screen and (max-width: 800px) {
    .container{
        flex-direction: column;
        justify-content: center;
    }
  }