@import "../../global.scss";

.welcome {
  // height: 100vh;
  min-height: 100vh;
  display: flex;
  .left {
    flex: 1;
    display: flex;
    align-self: center;
    .img-container {
      // background-color: $primary;
      border-radius: 50%;
      border: 2px solid $primary;
      height: 500px;
      width: 500px;
      margin-left: -100px;
      display: flex;
      // justify-content: nter;
      align-items: center;
      // width: 60%;
      // float: right;
      // height: 100vh;
      .img {
        margin-left: 90px;
        // margin-bottom: -100px;
        border-radius: 50%;
      }
    }
  }

  .right {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;

    min-height: 50vh;
    align-self: center;
    justify-content: space-around;
    margin: auto 10%;
    .welcome-btn {
      width: 100px !important;
      
      animation: arrowBlink 1s alternate-reverse  ease-in-out infinite;
      @keyframes arrowBlink {
        100% {
          opacity: 0.2;
        }
      }
      .fa-chevron-down {
        // font-size: 20px;
        // font-weight: lighter;
        .icon-text{
            font-size: 90px;
        }
      }
    }
  }

  h1 {
    font-size: 50px;
    font-weight: 400;
  }
  h3 {
    // font-size: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .welcome {
    // flex-direction: column;
    min-height: 100vh;
    .left {
      .img-container {
        // background-color: $primary;
       
        height: 400px;
        width: 400px;
        .img {
          margin-left: 100px;
          width: 200px;
        }
      }
    }
    .right {
        h1{
            font-size: 30px ;
        }
        p{
          font-size: 15px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
       
    }
    
  }
}

@media only screen and (max-width: 600px) {
    .welcome{
        flex-direction: column;
        .left{
            margin-top: 10px;
            .img-container{
                // position: absolute;
                // left: 0;
                height: 300px;
                width: 300px;
                margin-left: 0px;
                display: flex;
                justify-content: center;
                .img {
                  width: 200px;
                  margin-left: 0px;
                }

            }

        }
        .right{

        }
    }
}
